---
http_interactions:
- request:
    method: get
    uri: http://seed2.neo.org:10332/?id=1&jsonrpc=2.0&method=getpeers&params=%5B%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json-rpc
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"unconnected":[{"address":"::ffff:109.131.29.134","port":10333},{"address":"::ffff:178.65.102.202","port":10333},{"address":"::ffff:59.63.249.27","port":10333},{"address":"::ffff:184.58.128.107","port":10333},{"address":"::ffff:115.53.118.155","port":10333},{"address":"::ffff:75.142.220.66","port":10333},{"address":"::ffff:73.134.90.172","port":10333},{"address":"::ffff:134.58.179.242","port":10333},{"address":"::ffff:101.81.113.3","port":10333},{"address":"::ffff:90.116.39.45","port":10333},{"address":"::ffff:49.188.35.109","port":10333},{"address":"[...]
[...]
