---
http_interactions:
- request:
    method: get
    uri: http://seed2.neo.org:10332/?id=1&jsonrpc=2.0&method=getversion&params=%5B%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json-rpc
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"port":10333,"nonce":788403123,"useragent":"\/NEO:2.4.1\/"}}'
  recorded_at: Sun, 07 Jan 2018 16:53:43 GMT
recorded_with: VCR 4.0.0
