---
http_interactions:
- request:
    method: get
    uri: http://test1.cityofzion.io:8880/?id=1&jsonrpc=2.0&method=validateaddress&params=%5B%22lolwut%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json-rpc
    body:
      encoding: UTF-8
      string: '{"jsonrpc":"2.0","id":1,"result":{"address":"lolwut","isvalid":false}}'
  recorded_at: Sun, 07 Jan 2018 22:57:28 GMT
recorded_with: VCR 4.0.0
